page-test {

    ion-content {
        text-align: center;
        background-color: #fdfdfd !important;
    }

    h3 {
        padding: 15vh 0 15vh 0;
        text-align: center
    }

    .btn-test {        
        margin: 20px 0 60px 0;
    }

    .flat-button  {
        margin-top:10vh !important;
        width: 50%; height: 60px;

    }
}
